extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main 
    +alert-error(5000)
    +alert-success(5000)
    h1(class="mb-4") Chỉnh sửa tài khoản
    
    form(
        action=`${prefixAdmin}/accounts/edit/${data.id}?_method=PATCH`
        method="POST"
        enctype="multipart/form-data"
    ) 
        div(class="form-group")
            lable(for="fullName") Họ tên *
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                value= data.fullName
                required
            )
    
        div(class="form-group")
            lable(for="email") Email *
            input(
                type="email"
                class="form-control"
                id="email"
                name="email"
                value= data.email
                required
            )
        div(class="form-group")
            lable(for="password") Password *
            input(
                type="password"
                class="form-control"
                id="password"
                name="password"
            )
        div(class="form-group")
            lable(for="phone") Số điện thoại
            input(
                type="number"
                class="form-control"
                id="phone"
                name="phone"
                value= data.phone
            )
        div(
            class="form-group"
            upload-image
        )
            lable(for="avatar") Avatar
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            div(class="form-group image-group")
                img(
                    src=data.avatar
                    alt=""
                    upload-image-preview  
                    class="image-preview"  
                )
                button(class="btn btn-close" remove-image-upload) x
            
        div(class="form-group")
            lable(for="role_id") Phân quyền
            select(name="role_id" id="role_id" class="form-control")
                option(disabled) -- Chọn -- 
                each item in roles 
                    option(
                        value= item.id
                        selected=(item.id == data.role_id ? true : false) 
                    ) #{item.title} 
    
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                 checked=(data.status === "active" ? true : false)
            )
            label(for="statusActive" class="form-check-inline") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusUnActive"
                name="status"
                value="unactive"
                checked=(data.status === "unactive" ? true : false)
            )
            label(for="statusUnActive" class="form-check-inline") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Tạo mới

    script(src="/admin/js/product.js") 